.searchWrappper {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  padding: 5px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .searchWrappper,
  .weatherBox,
  .favorite-container {
    width: 70%;
    font-size: 1em;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .searchWrappper,
  .weatherBox,
  .favorite-container {
    width: 80%;
    font-size: 1em;
  }
}

.weatherBox {
  margin: 10px auto;
  width: 50%;
  padding: 15px;
  color: darkblue;

  &Dark {
    color: #c1cde2;
  }

  h1 {
    font-size: 5em;
    padding: 0;
    margin: 0;
    font-weight: normal;
    color: white;
  }
}

.cityData {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  font-weight: bold;
  align-items: center;

  button {
    background-color: transparent;
    color: darkblue;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-width: 250px;
    display: flex;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
  }
}

@media screen and (max-width: 992px) {
  //   .cityData button span {
  //     display: none;
  //   }

  .cityData button {
    min-width: 0px;
  }
}

.temperature {
  margin: 0 auto;
  width: 100%;
}
