body,
html {
  font-family: "Atkinson Hyperlegible", sans-serif;
  margin: 0;
}
.app {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4ca2cd,
    #67b26f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4ca2cd,
    #67b26f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.darkApp {
  text-align: center;
  background-color: #121212;
  height: 100%;
  min-height: 100vh;
}

.lightTitle {
  color: black;
}
.darkTitle {
  color: #4ca2cd;
}

.search-box {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.MuiAutocomplete-root,
.MuiAutocomplete-hasPopupIcon,
.css-viou3o-MuiAutocomplete-root {
  background-color: rgb(230, 248, 255);
  border-radius: 4px;
}

.weather-box {
  margin: 10px auto;
  width: 60%;
  padding: 15px;
  /* background-color: rgb(128, 128, 128, 0.3); */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: darkblue;
}
.dark-weather-box {
  color: #c1cde2;
}

.weather-box h1 {
  font-size: 5em;
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: white;
}

.favorite-container {
  width: 60%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
}

.favorite-div {
  width: 85%;
  background: rgba(182, 182, 182, 0.5);
  color: darkblue;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  text-align: left;
  padding: 5px 20px 5px 20px;
  display: flex;
  justify-content: space-around;
  line-height: 100%;
  vertical-align: middle;
  text-decoration: none;
}

.favorite-div:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

.removeBtn {
  background-color: rgb(228, 247, 255);
  color: darkblue;
  text-decoration: none;
  display: inline-block;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
}
.removeBtn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .search-box,
  .weather-box,
  .favorite-container {
    width: 70%;
    font-size: 1em;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .search-box,
  .weather-box,
  .favorite-container {
    width: 80%;
    font-size: 1em;
  }
}

.weather-box-city {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-weight: bold;
  align-items: center;
}

.weather-box-city button {
  background-color: rgb(228, 247, 255);
  color: darkblue;
  text-decoration: none;
  display: inline-block;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1em;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.weather-box-city button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

@media screen and (max-width: 992px) {
  .weather-box-city button span {
    display: none;
  }

  .weather-box-city button {
    min-width: 0px;
  }
}

.temperature {
  margin: 0 auto;
  width: 100%;
}
